<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/Css/sm.min.css">
    <link rel="stylesheet" href="/static/Css/sm-extend.min.css">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/demos/card" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">诗词歌赋</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item active" href="https://www.baidu.com/" external>
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" href="#">
                <span class="icon icon-me"></span>
                <span class="tab-label">个人中心</span>
            </a>
            <a class="tab-item" href="#">
                <span class="icon icon-me"></span>
                <span class="tab-label">发表</span>
            </a>
            <a class="tab-item" href="#">
                <span class="icon icon-star"></span>
                <span class="tab-label">我的收藏</span>
            </a>
            <a href="#" class="content tab-item  open-panel" data-panel='#panel-right-demo'>
                <span class="icon icon-settings"></span>
                <span class="tab-label">设置</span>
            </a>
        </nav>

        <div class="content">
            <div class="page-index">
                <div class="card facebook-card">
                    <div class="card-header no-border">
                        <div class="facebook-avatar"><img
                                src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                width="34" height="34"></div>
                        <div class="facebook-name">夜萧</div>
                        <div class="facebook-date">星期一 3:47pm</div>
                    </div>
                    <div class="card-content"><img
                            src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                            width="100%"></div>
                    <div class="card-footer no-border">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">评论</a>
                        <a href="#" class="link">分享</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="panel panel-right panel-reveal theme-dark" id="panel-right-demo">
        <div class="content-block">
            <p><a class="button button-link button-nav pull-left open-popup" data-popup=".popup-login">
                登录
                <span class="icon icon-me"></span>
            </a></p>
            <p>
                <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-register">
                    注册
                    <span class="icon icon-me"></span>
                </a>
            </p>
        </div>
        <br/>
        <div class="content-block">
            <p><a class="button button-link button-nav pull-left open-popup" data-popup=".popup-login">
                登录
                <span class="icon icon-me"></span>
            </a></p>
            <p>
                <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-register">
                    注册
                    <span class="icon icon-me"></span>
                </a>
            </p>
        </div>
    </div>

    <!--登录-->
    <div class="popup popup-login modal-in" style="display:none;">
        <header class="bar bar-nav">
            <h1 class="title">用户登录</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">用户名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name" id="userinput">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Password" id="passwordinput">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a id="btn_cancel" href="" external
                                           class="button button-big button-fill  button-danger close-popup-login">取消</a>
                    </div>
                    <div class="col-50"><a href="#" id="btn_login" external
                                           class="button button-big button-fill button-success">提交</a></div>
                </div>
            </div>
        </div>
    </div>

    <!--注册-->
    <div class="popup popup-register modal-in" style="display:none;">
        <header class="bar bar-nav">
            <h1 class="title">用户注册</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">用户名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name" id="register_user">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Password" id="register_password">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">确认密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Password" id="register_two_password">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a id="register_cancel" href="" external
                                           class="button button-big button-fill  button-danger close-popup-register">取消</a>
                    </div>
                    <div class="col-50"><a href="#" id="btn_register" external
                                           class="button button-big button-fill button-success">提交</a></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src='//cdn.bootcss.com/jquery/3.1.1/jquery.min.js'></script>cript>
<script type='text/javascript' src='/static/Scripts/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/Scripts/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/Scripts/login.js' charset='utf-8'></script>
</body>
</html>