<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>诗词分享系统</title>
    <link rel="stylesheet" type="text/css" href="../css/hui.css"/>
</head>


<body style="background:#F4F5F6;">
<div class="hui-wrap">
    <div style="padding:20px;">
        <div class="hui-segment" id="cate">
            {volist name="type" id="vo"}
            <a href="/index?type={$vo.id}" {notempty name="vo.active" }class="hui-segment-active" {/notempty}
            >{$vo.name}</a>
            {/volist}

        </div>
        <div class="hui-wrap">
            <div class="hui-media-list" style="padding:10px;">
                <ul>
                    {volist name="list" id="vo"}
                    <li style="margin-bottom:0px;">
                        <a href="/detail?id={$vo.id}">
                            <div class="hui-media-list-img" style="width: 35%;"><img style="height: 150px;"
                                                                                     src="{$vo.src}"/></div>
                            <div class="hui-media-content" style="width: 62%">
                                <h1>{$vo.biaoti}</h1>
                                <p>{$vo.content}</p>
                            </div>
                        </a>
                    </li>
                    <ul>
                        <li>
                            <a onclick="collect({$vo.id});"><span class="hui-footer-icons hui-icons-star"></span></a>
                            <a onclick="like({$vo.id});"><span style="color: grey"
                                                               class="hui-footer-icons hui-icons-like"></span></a>
                            <a href="/detail?id={$vo.id}.html"><span
                                                               class="hui-footer-icons hui-icons-msg">56</span></a>
                        </li>
                    </ul>
                    {/volist}
                </ul>
                <div class="hui-pager hui-pager-center" style="padding:10px 30px;">
                    {$list->render()}
                </div>

            </div>
        </div>

    </div>
    <div id="hui-footer">
        <a href="/" id="nav-home">
            <div class="hui-footer-icons hui-icons-home"></div>
            <div class="hui-footer-text">首页</div>
        </a>
        <a href="javascript:hui.toast('热门');" id="nav-news">
            <div class="hui-footer-icons hui-icons-news"></div>
            <div class="hui-footer-text">热门</div>
        </a>
        <div style="width:20%; text-align:center;" class="hui-fl">
            <img src="../img/index/create.png" height="35" onclick="create();"/>
            <input type="hidden" id="uid" value="{$Request.session.uid}">
        </div>
        <a href="javascript:hui.toast('消息');" id="nav-forum">
            <div class="hui-footer-icons hui-icons-forum"></div>
            <div class="hui-footer-text">消息</div>
        </a>
        <a href="/user" id="nav-my">
            <div class="hui-footer-icons hui-icons-my"></div>
            <div class="hui-footer-text">我的</div>
        </a>
    </div>
    <script type="text/javascript" charset="UTF-8" src="../js/hui.js"></script>
    <script type="text/javascript">
        hui('#nav-my').pointMsg();
        hui('#nav-news').pointMsg('hot', null, null, null, '1px');
        hui('#nav-forum').pointMsg(8);


    </script>
    <script>
        function collect(list_id) {
            if (localStorage.key(uid)) {
                hui.toast('请先登录');
                return;
            }
            hui.postJSON(
                'collect',
                {
                    'list_id': list_id

                },
                function (msg) {
                    if (msg.success) {
                        hui.upToast(msg.msg);
                    }
                },
                function (e) {
                    hui.iconToast('读取消息失败', 'warn');
                }
            );


        }

        function like(list_id) {
            if (localStorage.key(uid)) {
                hui.toast('请先登录');
                return;
            }
            hui.postJSON(
                'like',
                {
                    'list_id': list_id

                },
                function (msg) {
                    if (msg.success) {
                        hui.upToast(msg.msg);
                    }
                },
                function (e) {
                    hui.iconToast('读取消息失败', 'warn');
                }
            );


        }
    </script>
    <script type="text/javascript">
        function changeDom(index) {
            index--;
            hui('#cate a').eq(index).addClass('hui-segment-active').siblings().removeClass('hui-segment-active');
        }

        var uid = hui('#uid').val();
        localStorage.uid = uid;

        function create() {
            if (!uid) {
                hui.toast('请先登录');
            } else {
                window.location.href = '/create';
            }
        }


    </script>

</div>
</body>
</html>