<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>用户中心</title>
<link rel="stylesheet" type="text/css" href="../css/hui.css" />
</head>
<body>

<header class="hui-header">

  <a href="/" style="width:44px; height:44px; font-family:'hui-font'; line-height:44px; text-align:center; flex-shrink:0;">
	  <span class="hui-icons hui-icons-left"></span>
  </a>
  <h1>用户中心</h1>
</header>
<div class="hui-wrap">
	{if condition="$Request.session.uid eq null"}
	<div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
		<a href="login" style="height:auto; height:80px; padding-bottom:8px;">
			<div class="hui-list-icons" style="width:110px; height:80px;">
				<img src="../img/index/account.png" style="width:66px; margin:0px; border-radius:50%;" />
			</div>
			<div class="hui-list-text" style="height:79px; line-height:79px;">
				<div class="hui-list-text-content">
					用户登陆
				</div>
				<div class="hui-list-info">
					<span class="hui-icons hui-icons-right"></span>
				</div>
			</div>
		</a>
	</div>
	<div class="hui-list" style="background:#FFFFFF; margin-top:px;">
		<a href="register" style="height:auto; height:80px; padding-bottom:8px;">
			<div class="hui-list-icons" style="width:110px; height:80px;">
				<img src="../img/index/register.png" style="width:66px; margin:0px; border-radius:50%;" />
			</div>
			<div class="hui-list-text" style="height:79px; line-height:79px;">
				<div class="hui-list-text-content">
					用户注册
				</div>
				<div class="hui-list-info">
					<span class="hui-icons hui-icons-right"></span>
				</div>
			</div>
		</a>
	</div>
	{else /}
	<div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
		<a href="javascript:hui.toast('暂不开放 !');" style="height:auto; height:80px; padding-bottom:8px;">
			<div class="hui-list-icons" style="width:110px; height:80px;">
				<img src="{$user.head}" style="width:66px; margin:0px; border-radius:50%;" />
			</div>
			<div class="hui-list-text" style="height:79px; line-height:79px;">
				<div class="hui-list-text-content">
				{$Request.session.username}
				</div>
				<div class="hui-list-info">
					<span class="hui-icons hui-icons-right"></span>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="hui-list-text">
				{$user.introduction}
			</div>
		</a>
	</div>
	{/if}
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <ul>
			{notempty name="user"}
			{if condition="$user.is_admin eq 1"}
            <li>
            	<a href="/manage">
            		<div class="hui-list-icons">
		    			<img src="../img/index/formcheck.png" />
		    		</div>
		    		<div class="hui-list-text">
		    			诗词管理
		    			<div class="hui-list-info">
		    				<span class="hui-icons hui-icons-right"></span>
		    			</div>
		    		</div>
            	</a>
           	</li>
			<li>
				<a href="/comments_manage">
					<div class="hui-list-icons">
						<img src="../img/index/msg.png" />
					</div>
					<div class="hui-list-text">
						评论管理
						<div class="hui-list-info">
							<span class="hui-icons hui-icons-right"></span>
						</div>
					</div>
				</a>
			</li>
			{/if}
			{/notempty}
            <li>
            	<a  id="mycollect">
            		<div class="hui-list-icons">
		    			<img src="../img/index/start.png" />
		    		</div>
		    		<div class="hui-list-text">
		    			我的收藏
		    			<div class="hui-list-info">
		    				<span class="hui-icons hui-icons-right"></span>
		    			</div>
		    		</div>
            	</a>
           	</li>
			<li>
				<a  id="mylike">
					<div class="hui-list-icons">
						<img src="../img/index/fger.png" />
					</div>
					<div class="hui-list-text">
						我的点赞
						<div class="hui-list-info">
							<span class="hui-icons hui-icons-right"></span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a id="comments" >
					<div class="hui-list-icons">
						<img src="../img/index/msg.png" />
					</div>
					<div class="hui-list-text">
						评论
						<div class="hui-list-info">
							<span class="hui-icons hui-icons-right"></span>
						</div>
					</div>
				</a>
			</li>

           	<li>
            	<a href="javascript:hui.toast('暂不开放');">
            		<div class="hui-list-icons">
		    			<img src="../img/list/lishi.png" />
		    		</div>
		    		<div class="hui-list-text">
		    			历史足迹
		    			<div class="hui-list-info">
		    				<span class="hui-icons hui-icons-right"></span>
		    			</div>
		    		</div>
            	</a>
           	</li>
        </ul>
    </div>
	{if condition="$Request.session.uid neq null"}
    <div style="background:#FFFFFF; margin-top:28px;">
        <button id="logout" type="button" class="hui-button hui-button-large" onclick="hui.toast('退出');">
        	<span class="hui-icons hui-icons-logoff"></span>退出系统
       	</button>
		<input type="hidden" id="uid" value="{$Request.session.uid}">
    </div>
	{/if}
</div>
<script type="text/javascript" src="../js/hui.js" charset="UTF-8"></script>
</body>
<script type="text/javascript">
	hui('#logout').click(function () {
		var uid=hui('#uid').val();
		if (uid) {
			hui.getJSON(
					'logout?uid='+uid,
					function(msg){
						hui.upToast(msg.msg);
						if (msg.success){
							window.location.href='/user';
						}
					},
					function(e){
						hui.iconToast('读取消息失败', 'warn');
					}
			);
		}
	});
</script>
<script>
	var uid=hui('#uid').val();
	hui('#mycollect').click(function(){
		if(!uid){
			hui.upToast('请先登录');
			return;
		}
		window.location.href='/mycollect';
	});
	hui('#mylike').click(function(){
		if(!uid){
			hui.upToast('请先登录');
			return;
		}
		window.location.href='/mylike';
	});
	hui('#comments').click(function(){
		if(!uid){
			hui.upToast('请先登录');
			return;
		}
		window.location.href='/comments';
	});

</script>
</html>