<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>评论</title>
    <link rel="stylesheet" type="text/css" href="../css/hui.css"/>
</head>


<body style="background:#F4F5F6;">
<header class="hui-header">
    <div id="hui-back"></div>
    <h1>评论</h1>
</header>
<div class="hui-wrap">
    <div style="padding:5px 0px;">
        <div class="hui-tab">
            <div class="hui-tab-title">
                <div>我评论的</div>
                <div>评论我的</div>
            </div>
            <div class="hui-tab-body">
                <div class="hui-tab-body-items">
                    <div class="hui-tab-item hui-list">
                        {volist name="mycom" id="vo"}
                        <li >
                            <a href="#">
                                <div class="hui-list-text">{$vo.date}评论了<<{$vo.biaoti}>></div>
                            </a>
                        </li>
                        <li>
                            <a href="/infocomments?id={$vo.id}">
                                <div class="hui-list-text">
                                    <div class="hui-list-text-content">
                                        {$vo.comments}
                                    </div>
                                    <div class="hui-list-info">
                                        详情 <span class="hui-icons hui-icons-right"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </div>
                    <div class="hui-tab-item hui-list">
                        {volist name="commy" id="vo"}
                        <li >
                            <a href="#">
                                <div class="hui-list-text">{$vo.username}:{$vo.date}评论了<<{$vo.biaoti}>></div>
                            </a>
                        </li>
                        <li>
                            <a href="/infocomments?id={$vo.id}">
                                <div class="hui-list-text">
                                    <div class="hui-list-text-content">
                                        {$vo.comments}
                                    </div>
                                    <div class="hui-list-info">
                                        详情 <span class="hui-icons hui-icons-right"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" charset="UTF-8" src="../js/hui.js"></script>
<script src="../js/hui-tab.js" type="text/javascript"></script>
<script type="text/javascript">
    hui.tab('.hui-tab');
</script>

</html>